#container {
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-title {
  text-align: center;
}

.squareDiv {
  width: 15vw;
  height: 15vw;
  font-size: 120%;
}

.margin-top-20 {
  margin-top: 20px;
}

.centeredDiv {
  left: 50%;
  display: inline-block;
}

.innerInput {
  width: 100%;
  height: 100%;
  text-align: center;
}

.numbersContainer {
  height: 20vw;
  display: flex;
  justify-content: space-evenly;
}

.no-decoration {
  list-style: none;
}