<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SUMMLE <sub>SOLVER</sub>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SUMMLE <sub>SOLVER</sub></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="squareDiv centeredDiv margin-top-20">
      <input type="number" class="innerInput" [(ngModel)]="expected">
    </div>

    <div class="numbersContainer">
      <span class="squareDiv centeredDiv margin-top-20">
        <input type="number" class="innerInput" [(ngModel)]="n1">
      </span>

      <span class="squareDiv centeredDiv margin-top-20">
        <input type="number" class="innerInput" [(ngModel)]="n2">
      </span>

      <span class="squareDiv centeredDiv margin-top-20">
        <input type="number" class="innerInput" [(ngModel)]="n3">
      </span>

      <span class="squareDiv centeredDiv margin-top-20">
        <input type="number" class="innerInput" [(ngModel)]="n4">
      </span>

      <span class="squareDiv centeredDiv margin-top-20">
        <input type="number" class="innerInput" [(ngModel)]="n5">
      </span>

      <span class="squareDiv centeredDiv margin-top-20">
        <input type="number" class="innerInput" [(ngModel)]="n6">
      </span>
    </div>

    <section class="margin-top-20">
      <ion-button expand="block" (click)="solveClick()">Solve</ion-button>
    </section>

    <div *ngIf="path && path.length">
      <ul class="no-decoration">
        <li *ngFor="let p of path">{{ p }} = {{ p | evaluate }}</li>
      </ul>
    </div>
  </div>
</ion-content>
